// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&sk { release-after-ms = <3000>; };

/ {
    behaviors {
        osm: one_shot_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&sk>;

            hold-while-undecided-linger;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_bootloader {
            timeout-ms = <100>;
            key-positions = <10 19>;
            bindings = <&bootloader>;
            layers = <3>;
        };

        combo_sys_reset {
            timeout-ms = <100>;
            key-positions = <0 9>;
            bindings = <&sys_reset>;
            layers = <3>;
        };

        unlock {
            bindings = <&studio_unlock>;
            key-positions = <0 4>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            display-name = "Default";
            bindings = <
&kp Q  &kp W  &kp E  &kp R      &kp T          &kp Y        &kp U               &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F      &kp G          &kp H        &kp J               &kp K      &kp L    &kp APOS
&kp Z  &kp X  &kp C  &kp V      &kp B          &kp N        &kp M               &kp COMMA  &kp DOT  &kp FSLH
                     &kp SPACE  &lt 1 ENTER    &lt 2 SPACE  &osm RSHIFT RSHIFT
            >;
        };

        navctrl {
            display-name = "NavCtrl";
            bindings = <
&kp LC(Q)  &kp LC(W)  &kp LC(E)  &kp LC(R)  &kp LC(T)    &kp PG_UP      &kp HOME          &kp UP          &kp END         &kp TILDE
&kp LC(A)  &kp LC(S)  &kp LC(D)  &kp LC(F)  &kp LC(G)    &kp PG_DN      &kp LEFT          &kp DOWN        &kp RIGHT       &kp SEMI
&kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)    &kp RC(ENTER)  &osm RCTRL RCTRL  &osm RALT RALT  &osm RGUI RGUI  &trans
                                 &trans     &trans       &trans         &trans
            >;
        };

        numspec {
            display-name = "NumSpec";
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &kp NUMBER_4      &kp NUMBER_5         &trans     &kp ESC           &trans          &trans          &trans
&kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8   &kp NUMBER_9      &kp NUMBER_0         &kp LC(Z)  &kp BSPC          &kp DEL         &trans          &trans
&kp MINUS     &kp EQUAL     &kp BACKSLASH  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &trans     &osm RCTRL RCTRL  &osm RALT RALT  &osm RGUI RGUI  &trans
                                           &trans            &trans               &trans     &trans
            >;
        };

        tri_layer {
            display-name = "Tri Layer";
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &trans  &trans            &trans          &kp RC(RG(LEFT))  &kp RC(RG(RIGHT))
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &trans  &trans            &trans          &kp C_PP          &kp C_NEXT
&kp F11  &kp F12  &trans  &trans  &trans     &trans  &osm RCTRL RCTRL  &osm RALT RALT  &osm RGUI RGUI    &trans
                          &trans  &trans     &trans  &trans
            >;
        };
    };
};
