/*
 * Generic 3x5 Keymap
 * Edit this file with keymap-editor, then apply to real boards
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        esc_q: escape_q {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        bspc_p: backspace_p {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        // Homerow mods - Left hand

        lmt: left_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <225>;
            quick-tap-ms = <105>;
            require-prior-idle-ms = <105>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33>;
            bindings = <&kp>, <&kp>;
        };

        // Homerow mods - Right hand

        rmt: right_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <225>;
            quick-tap-ms = <105>;
            require-prior-idle-ms = <105>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33>;
            bindings = <&kp>, <&kp>;
        };

        // Homerow mods - Left Shift

        lst: left_shift_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <165>;
            quick-tap-ms = <105>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33>;
            bindings = <&kp>, <&kp>;
        };

        // Homerow mods - Right Shift

        rst: right_shift_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <165>;
            quick-tap-ms = <105>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&studio_unlock>;
            layers = <0>;
        };

        // Layer toggle

        combo_fnc {
            timeout-ms = <200>;
            key-positions = <30 33>;
            bindings = <&mo 3>;
        };

        // Invoke macros
        // Media keys

        combo_vol_up {
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
            bindings = <&kp C_VOL_UP>;
            key-positions = <5 6>;
            layers = <0>;
        };

        combo_vol_dn {
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
            bindings = <&kp C_VOL_DN>;
            key-positions = <15 16>;
            layers = <0>;
        };

        // Navigation arrows

        combo_arr_up {
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
            bindings = <&kp UARW>;
            key-positions = <17 27>;
            layers = <0>;
        };

        combo_arr_dn {
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
            bindings = <&kp DARW>;
            key-positions = <16 26>;
            layers = <0>;
        };

        combo_arr_lt {
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
            bindings = <&kp LARW>;
            key-positions = <15 25>;
            layers = <0>;
        };

        combo_arr_rt {
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
            bindings = <&kp RARW>;
            key-positions = <18 28>;
            layers = <0>;
        };

        // Shortcuts

        combo_nav_up {
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
            bindings = <&kp LS(LA(UARW))>;
            key-positions = <27 28>;
            layers = <0>;
        };

        combo_nav_dn {
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
            bindings = <&kp LS(LA(DARW))>;
            key-positions = <26 27>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&esc_q ESC Q  &kp W        &kp E        &kp R         &kp T              &kp Y             &kp U         &kp I        &kp O        &bspc_p BSPC P
&lmt LCTRL A  &lmt LALT S  &lmt LGUI D  &lst LSHFT F  &kp G              &kp H             &rst RSHFT J  &rmt RGUI K  &rmt RALT L  &rmt RCTRL SEMI
&kp Z         &kp X        &kp C        &kp V         &kp B              &kp N             &kp M         &kp COMMA    &kp DOT      &kp SLASH
                                        &lt 1 TAB     &mt RSHFT SPACE    &mt LC(LALT) RET  &lt 2 BSPC
            >;
        };

        num_layer {
            display-name = "Numbers";
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5     &kp N6    &kp N7     &kp N8     &kp N9     &kp N0
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp TAB
&kp F6  &kp F7  &kp F8  &kp F9  &kp F10    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp DEL
                        &trans  &kp F11    &kp F12   &trans
            >;
        };

        sym_layer {
            display-name = "Symbols";
            bindings = <
&kp EXCL   &kp AT     &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR
&kp GRAVE  &kp TILDE  &kp SQT   &kp DQT   &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH
&trans     &trans     &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE
                                &trans    &kp ESC      &trans     &trans
            >;
        };

        fnc_layer {
            display-name = "Function";
            bindings = <
&trans       &trans  &trans  &out OUT_BLE  &bt BT_SEL 0    &trans      &trans  &trans  &trans  &trans
&bootloader  &trans  &trans  &out OUT_USB  &bt BT_SEL 1    &trans      &trans  &trans  &trans  &trans
&trans       &trans  &trans  &bt BT_CLR    &bt BT_SEL 2    &kp C_MUTE  &trans  &trans  &trans  &trans
                             &trans        &trans          &trans      &trans
            >;
        };
    };
};
