name: Draw Keymaps

on:
  push:
    branches:
      - main
    paths:
      - 'config/*.keymap'
      - 'config/*.dtsi'
      - '.github/workflows/draw-keymaps-caller.yml'
  pull_request:
    paths:
      - 'config/*.keymap'
      - 'config/*.dtsi'
  workflow_dispatch:

jobs:
  draw:
    uses: ./.github/workflows/draw-keymaps.yml
    with:
      keymap_patterns: 'config/a_dux.keymap config/corne.keymap config/cradio.keymap config/hillside48.keymap config/hillside48-hold.keymap config/generic_3x5.keymap config/generic_3x6.keymap'
      output_folder: 'keymap-drawer'
      fail_on_error: false
      destination: 'both'
