/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  190  310       0     0     0>
            , <&key_physical_attrs 100 100 1367  310       0     0     0>
            , <&key_physical_attrs 100 100    0  279       0     0     0>
            , <&key_physical_attrs 100 100   95  279       0     0     0>
            , <&key_physical_attrs 100 100 1462  279       0     0     0>
            , <&key_physical_attrs 100 100 1556  279       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  190   37       0     0     0>
            , <&key_physical_attrs 100 100  284    0       0     0     0>
            , <&key_physical_attrs 100 100 1272    0       0     0     0>
            , <&key_physical_attrs 100 100 1367   37       0     0     0>
            , <&key_physical_attrs 100 100 1556  100       0     0     0>
            , <&key_physical_attrs 100 100   95  190       0     0     0>
            , <&key_physical_attrs 100 100  190  126       0     0     0>
            , <&key_physical_attrs 100 100  284   90       0     0     0>
            , <&key_physical_attrs 100 100 1272   90       0     0     0>
            , <&key_physical_attrs 100 100 1367  126       0     0     0>
            , <&key_physical_attrs 100 100 1462  190       0     0     0>
            , <&key_physical_attrs 100 100  190  216       0     0     0>
            , <&key_physical_attrs 100 100  284  179       0     0     0>
            , <&key_physical_attrs 100 100  379   29       0     0     0>
            , <&key_physical_attrs 100 100  474   42       0     0     0>
            , <&key_physical_attrs 100 100 1083   42       0     0     0>
            , <&key_physical_attrs 100 100 1177   29       0     0     0>
            , <&key_physical_attrs 100 100 1272  179       0     0     0>
            , <&key_physical_attrs 100 100 1367  216       0     0     0>
            , <&key_physical_attrs 100 100  379  118       0     0     0>
            , <&key_physical_attrs 100 100  474  132       0     0     0>
            , <&key_physical_attrs 100 100 1083  132       0     0     0>
            , <&key_physical_attrs 100 100 1177  118       0     0     0>
            , <&key_physical_attrs 100 100  379  208       0     0     0>
            , <&key_physical_attrs 100 100  474  221       0     0     0>
            , <&key_physical_attrs 100 100 1083  221       0     0     0>
            , <&key_physical_attrs 100 100 1177  208       0     0     0>
            , <&key_physical_attrs 100 100  324  297       0     0     0>
            , <&key_physical_attrs 100 100 1233  297       0     0     0>
            , <&key_physical_attrs 100 100   95  100       0     0     0>
            , <&key_physical_attrs 100 100  427  313    1500   477   363>
            , <&key_physical_attrs 100 100  524  353    3000   574   403>
            , <&key_physical_attrs 100 100  568  275    3000   618   325>
            , <&key_physical_attrs 100 100  606  417    4500   656   467>
            , <&key_physical_attrs 100 100  950  417 (-4500)  1000   467>
            , <&key_physical_attrs 100 100  988  275 (-3000)  1038   325>
            , <&key_physical_attrs 100 100 1033  353 (-3000)  1083   403>
            , <&key_physical_attrs 100 100 1129  313 (-1500)  1179   363>
            , <&key_physical_attrs 100 100 1462  100       0     0     0>
            , <&key_physical_attrs 100 100    0  190       0     0     0>
            , <&key_physical_attrs 100 100 1556  190       0     0     0>
            ;
    };
};
