/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        keys  //                     w   h    x    y     rot    rx    ry
            // Row 0 (top row) - left to right
            = <&key_physical_attrs 100 100    0  100       0     0     0>  // TAB
            , <&key_physical_attrs 100 100   95  100       0     0     0>  // Q (esc_q)
            , <&key_physical_attrs 100 100  190   37       0     0     0>  // W
            , <&key_physical_attrs 100 100  284    0       0     0     0>  // E
            , <&key_physical_attrs 100 100  379   29       0     0     0>  // R
            , <&key_physical_attrs 100 100  474   42       0     0     0>  // T
            , <&key_physical_attrs 100 100 1083   42       0     0     0>  // Y
            , <&key_physical_attrs 100 100 1177   29       0     0     0>  // U
            , <&key_physical_attrs 100 100 1272    0       0     0     0>  // I
            , <&key_physical_attrs 100 100 1367   37       0     0     0>  // O
            , <&key_physical_attrs 100 100 1462  100       0     0     0>  // P (bspc_p)
            , <&key_physical_attrs 100 100 1556  100       0     0     0>  // BSPC
            // Row 1 (home row) - left to right
            , <&key_physical_attrs 100 100    0  190       0     0     0>  // LCTRL
            , <&key_physical_attrs 100 100   95  190       0     0     0>  // A
            , <&key_physical_attrs 100 100  190  126       0     0     0>  // S
            , <&key_physical_attrs 100 100  284   90       0     0     0>  // D
            , <&key_physical_attrs 100 100  379  118       0     0     0>  // F
            , <&key_physical_attrs 100 100  474  132       0     0     0>  // G
            , <&key_physical_attrs 100 100 1083  132       0     0     0>  // H
            , <&key_physical_attrs 100 100 1177  118       0     0     0>  // J
            , <&key_physical_attrs 100 100 1272   90       0     0     0>  // K
            , <&key_physical_attrs 100 100 1367  126       0     0     0>  // L
            , <&key_physical_attrs 100 100 1462  190       0     0     0>  // SEMI
            , <&key_physical_attrs 100 100 1556  190       0     0     0>  // SQT
            // Row 2 (bottom row) - left to right including extra keys
            , <&key_physical_attrs 100 100    0  279       0     0     0>  // LSHFT
            , <&key_physical_attrs 100 100   95  279       0     0     0>  // Z
            , <&key_physical_attrs 100 100  190  216       0     0     0>  // X
            , <&key_physical_attrs 100 100  284  179       0     0     0>  // C
            , <&key_physical_attrs 100 100  379  208       0     0     0>  // V
            , <&key_physical_attrs 100 100  474  221       0     0     0>  // B
            , <&key_physical_attrs 100 100  190  310       0     0     0>  // CAPS (extra key row 3 col 5)
            , <&key_physical_attrs 100 100 1367  310       0     0     0>  // ESC (extra key row 3 col 6)
            , <&key_physical_attrs 100 100 1083  221       0     0     0>  // N
            , <&key_physical_attrs 100 100 1177  208       0     0     0>  // M
            , <&key_physical_attrs 100 100 1272  179       0     0     0>  // COMMA
            , <&key_physical_attrs 100 100 1367  216       0     0     0>  // DOT
            , <&key_physical_attrs 100 100 1462  279       0     0     0>  // SLASH
            , <&key_physical_attrs 100 100 1556  279       0     0     0>  // RSHFT
            // Row 3 (thumb keys) - left to right
            , <&key_physical_attrs 100 100  324  297       0     0     0>  // mo 3 (left thumb 1)
            , <&key_physical_attrs 100 100  427  313    1500   477   363>  // mo 1 (left thumb 2)
            , <&key_physical_attrs 100 100  524  353    3000   574   403>  // RET (left thumb 3)
            , <&key_physical_attrs 100 100  568  275    3000   618   325>  // ESC (left thumb 4)
            , <&key_physical_attrs 100 100  606  417    4500   656   467>  // SPC (left thumb 5)
            , <&key_physical_attrs 100 100  950  417 (-4500)  1000   467>  // mo 2 (right thumb 1)
            , <&key_physical_attrs 100 100  988  275 (-3000)  1038   325>  // mo 3 (right thumb 2)
            , <&key_physical_attrs 100 100 1033  353 (-3000)  1083   403>  // LGUI (right thumb 3)
            , <&key_physical_attrs 100 100 1129  313 (-1500)  1179   363>  // (right thumb 4)
            , <&key_physical_attrs 100 100 1233  297       0     0     0>  // (right thumb 5)
            ;
    };
};
